#apps{
    text-align: center;
    background-color: red;
}
h1{
    font-size: 26px;
}
#juegos{
    text-align: center;
    background-color: orangered;
}
#chatbot{
    text-align: center;
    background-color: orange;
}